/* General Styles */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.row {
  margin: 0 !important;
}
.container {
  padding: 0;
  margin: 0;
  width: 100% !important;
}
header {
  display: none;
}
.ccm-responsive-navigation {
  background: #FFFFFF;
}
hr {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
main {
  padding-bottom: 0px !important;
}

/* Sidebar */
#fixed-sidebar {
  position: fixed;
  z-index: 20;
  background: white;
  height: 100%;
}
#fixed-sidebar img{
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 20px;
}
/* Sidebar Nav Button Style Overrides */
#fixed-sidebar .nav {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 40px;
}
#fixed-sidebar .nav>li {
  height: 30px;
}
#fixed-sidebar .nav>li>a {
  color: #7F7F7F !important;
  font-size: 1.3em;
  font-family: "Museo500";
}
#fixed-sidebar .nav>li>a:hover, .nav>li>a:focus {
  color: #00A9BA !important;
  background-color: #FFFFFF;
}
#fixed-sidebar .social-title {
  color: #cacaca;
  font-family: "Museo500";
}

/* Content Button Overrides */
.content-link-block {
  padding-top: 20px;
  padding-bottom: 20px;
}
.content-link {
  text-transform: uppercase;
  display: inline;
  font-size: 1.2em;
  font-family: "Museo500";
  background: url("../images/arrow_blue.png") no-repeat right center; 
  background-size: 25px;
  padding: 5px 30px 5px 0;
}
.content-link:hover {
  background: url("../images/arrow_red.png") no-repeat right center;  
  background-size: 25px;
}
/* Main Banner */
.hp-banner-link-block {
  text-align: center;
}
.hp-banner-link {
  padding: 5px;
  text-transform: uppercase;
  display: inline;
  font-size: 1.5em;
  color: white !important;
  text-align: center;
  font-family: "Museo700";
  background: url("../images/arrow_white_forward.png") no-repeat right center; 
  background-size: 25px; 
  padding: 5px 30px 5px 0;
}
.hp-banner-link:hover {
  color: #cdde63;
  background: url("../images/arrow_green.png") no-repeat right center; 
  background-size: 25px; 
}
/* Main Content */
.col-content {
  z-index: 10;
  left: 16.7%;
  width: 83.2% !important;
  padding:0 !important;
  color: #4C4C4C;
  font-family: "Open Sans";
}
.top-banner {
  margin-bottom: 60px;
  background-size: 100% 130%;
}
.top-banner img{
    width: 200px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}
.col-content .main-top-banner h1{
  font-family: "Museo500";
  color: white;
}
.col-content .main-top-banner h2{
    font-family: "Museo500";
    color: white;
}
.col-content .top-banner h1 {
    font-size: 4.0em;
    text-align: center;
    padding-top: 50px;
    font-family: "Museo500";
    color: white;
}
.col-content .top-banner h2 {
    font-size: 3.0em;
    text-align: center;
    font-family: "Museo500";
    color: white;
}
.tag-box {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 50%;
}
.tag-box h3 {

}
.main-top-banner {
  background-size: 100%;
}
/* General Main Body style*/
.col-content .main-body {
  margin: 0 50px 0 50px;
}
.col-content .ccm-custom-style-container{
 /*height: 378px;*/
 /*margin-top: -21px;*/
}
.col-content .ccm-custom-style-container img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.col-content .main-body h1 {
    font-family: "Museo300";
    color: #00A9BA;
    font-size: 3em;
}
.col-content .main-body h2 {
    font-size: 2.2em;
    font-family: "Museo500";
}
.col-content .main-body h3 {
    font-size: 1.8em;
    text-align: left;
    color: #00A9BA;
    font-family: "Museo300";
}
.col-content .main-body h4 {
    font-size: 1.2em;
    font-family: "Museo300";
    color: #00A9BA;
}
.col-content .hp-text-block h4 {
    font-size: 3em;
    font-family: "Museo300";
    color: #1AA9BA;
}
.col-content h5 {
    font-size: 1.4em;
    padding-top: 50px;
    font-family: "Museo300";
}
.col-content .hp-text-block {
    padding-top: 50px;
}
.ccm-imageblock {
  width: 100% !important;
}
.main-body {
  padding-bottom: 60px;
}
/* Mainbody Main Page Style*/
.hp-content-pic-right {
    width: 80% !important;  
    overflow: hidden;
    width: 60%;
}
.hp-content-pic-right img{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
}

.hp-content-pic-right .questions{
    width: 60% !important;
}

.hp-content-pic-left {
    overflow: hidden;
    width: 80% !important;
    margin-left: 50px;
    padding-top: 20px;
}
.hp-content-pic-left img{
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
}
.col-content hr{
  margin-top: 30px !important;
  margin-bottom: 40px !important; 
}
/* Mainbody About Page*/
.about-right-box {
  padding-bottom: 60px;
}
.about-right-box .about-profile-pic img{
  padding-top: 40px;
  width: 210px;
}
/* Mainbody Approach Page*/
/* Mainbody Portfolio Page*/
/* Portfolio Portfolio Detail Page*/
div.ccm-page div.ccm-block-page-list-thumbnail-grid-wrapper div.ccm-block-page-list-title {
  margin-top: 0 !important;
  color: #7F7F7F !important;
}
div.ccm-page div.ccm-block-page-list-thumbnail-grid-wrapper div.ccm-block-page-list-title:hover{
  color: #D1145B !important;
}
.thumb-grid-link a{
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  display: inline;
  font-size: 1em;
  font-family: "Museo500";
  background: url("../images/arrow_grey.png") no-repeat right center; 
  background-size: 25px;
  padding: 5px 30px 5px 0;
}
.thumb-grid-link a:hover {
  color: #D1145B !important;
  background: url("../images/arrow_red.png") no-repeat right center;  
  background-size: 25px;
}
.portfolio-detail-back {
  padding-top: 15px;
  padding-left: 25px;
}
.portfolio-detail-logo {
  padding-top: 20px;
  padding-left: 65%;
  padding-right: 20px;
}
.portfolio-back-link {
  padding: 5px;
  /*text-transform: uppercase;*/
  display: inline;
  font-size: 2em;
  color: white !important;
  text-align: center;
  font-family: "Museo700";
  background: url("../images/arrow_white.png") no-repeat left center; 
  background-size: 25px; 
  padding: 5px 0px 5px 35px;
}
.portfolio-back-link:hover {
  color: #cdde63 !important;
  background: none; 
  background-size: 25px; 
}
.portfolio-links {
  color: black;
}
.pd-body {
  padding: 0 20px 0 20px;
}
.pd-body h1 {
  padding-left: 15px;
  font-family: "Museo500" !important;
  color: #1AA9BA !important;
}

.portfolio-detail-banner {
  background: url("../images/header_portfolio_small.jpg");
  height: 100px;
  margin-top: auto;
  margin-bottom: auto;
}
.rslides {
  float: left;
}
.rslides_tabs {
  float: left;
}
#gallery-slider li {
  border: 0;
}
#gallery-slider li a{
  border-radius: 0;
  width: 100%;
  height: 100%;
}
.thumbnail {
  background: none;
  border: none;
}
.ccm-block-page-attribute-display-title {
  text-transform: uppercase;
  color: #1AA9BA;
  padding-right: 5px;
}
.pd-attr {
  display:block;
}
/* Mainbody Contacts Page*/
.contact-top-content {
  padding-left: 36px;
  padding-right: 36px;
}
/* Social Links Override */
.side-social-box {
  text-align: center;  
}
.side-social-box ul{
  width: 100%;
  margin-left: 0px;
}
.side-social-box li {
  padding-left: 2px;
  padding-right: 2px;
}
.side-social-box i { 
    width: 38px;
}
.side-social-box i.fa-external-link {
  content: url("../images/Social_email.gif");
}
.side-social-box i.fa-pinterest {
  content: url("../images/Social_pintrest.gif");
}
.side-social-box i.fa-linkedin-square {
  content: url("../images/Social_linkedin.gif"); 
}
.side-social-box i.fa-twitter {
  content: url("../images/Social_twitter.gif");
} 
.side-social-box p {
  color: #CBCBCB;
  font-family: "Museo700";
}
/* Footer Styles */
#footer-theme {
  height: 90px;
  width: 100%;
  background: #1AA9BA;
}
#footer-theme .container{
 margin-left: 17%;
 width: 70%;  
}
#footer-theme section {
  padding-top: 10px !important;
  padding-bottom: 0px !important;
}
#footer-theme .footer-logo {
  padding-left: 20%;
  padding-right: 50px;
}

/* Footer Nav Button Style Overrides */
#footer-theme .nav {

}

#footer-theme .nav li {
  display:inline !important;
  float: left;
  text-transform: uppercase;

}
#footer-theme .nav>li>a:hover, .nav>li>a:focus {
  background-color: #1AA9BA;
}
#footer-theme .col-sm-8{
  width: 70% !important;
  float: left;
}
#footer-theme.col-sm-4{
  width: 30% !important;
  float: left;
}
footer#footer-theme .footer-copyright {
  color: white;
  padding-left: 13px;
}
/* Dimension Specific */
/* Large desktops and laptops */
@media (min-width: 1200px) {
  /* Fixed Side Bar */
  #fixed-sidebar .nav>li>a {
    padding: 0px 15px;
  }
  /* Main Page Top Banner */
  .top-banner h1{
      margin-top: -1px;
  }
  /* Main Top Banner */
  .col-content .main-top-banner {
    padding-top: 75px;
    padding-bottom: 100px;
  }
  .col-content .main-top-banner h1{
      font-size: 5.0em;
      margin-bottom: 0px;
      font-family: "Museo700";
      color: white;
  }
  .col-content .main-top-banner h2{
      font-size: 3.0em;
      padding-top: 0px;
      margin-top: 0px;
      padding-bottom: 50px;
      font-family: "Museo700";
      color: white;
  }
  /* Approach page*/
  .approach-help-text {
    padding-top: 60px;
    padding-right: 20px;

  }
  /* portfolio page */
  .pd-main-body {
    min-height: 800px;
  }
  /* portfolio portfolio detail page */
  .pd-body h1{
    font-size: 2.5em !important;
    font-weight: 500 !important;
  }
  .portfolio-slides {
    width: 1100px !important;
    margin-left: auto;
    margin-right: auto;
  }
  div.ccm-page .ccm-image-slider-container {
    border-bottom: none !important;
  }
  .rslides {
  }
  .ccm-image-slider-container {
    background: #E5E5E5 !important;
  }
  #gallery-slider {
    padding-left: 30px;
  }
  #gallery-slider li{
    display: block;
    width: 60px;
  }

  /* Footer */
  #footer-theme .container{
  } 
  #footer-theme .footer-logo {
      padding-top: 10px;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .content-link-block.portfolio {
    width: 70%;
  }
  .content-link-block.approach {
    width: 90%;
  }
  .content-link-block.questions {
    width: 50%;
  }
  .main-top-banner {
    padding-top: 40px !important;
  }
  .hp-content-pic-right.questions {
    padding-top: 60px !important;
  }
  .col-content .main-top-banner h1{
    font-size: 5.0em;
    margin-bottom: 0px;
    color: white;
  }
  .col-content .main-top-banner h2{
      font-size: 3.0em;
      padding-top: 0px;
      margin-top: 0px;
      padding-bottom: 50px;
      color: white;
  }
  /* Social Links*/
  .side-social-box i { 
      width: 38px;
  }
  /* Footer */
  #footer-theme .container{
   margin-left: 0;
   padding-top: 20px;
   width: 100%;  
  } 
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .hp-main-banner h1 {
    font-size: 2.8em !important;
  }
  .hp-main-banner h2 {
    font-size: 2.0em !important;
  }
  .col-md-2 {
    width: 15%;
  }
  .ccm-custom-style-mainbanner {
    padding-top: 20px !important;
  }
  #fixed-sidebar .nav>li>a {
    color: #7F7F7F !important;
    font-size: 1.0em;
    font-family: "Museo500";
  }
  .hp-banner-link-block {
    width: 60%;
  }
  .hp-content-link-block.portfolio {
    width: 80%;
  }
  .hp-content-link-block.approach {
    width: 95%;
  }
  .hp-content-link-block.questions {
    width: 50%;
  }
  .hp-content-pic-right.questions {
    padding-top: 50px !important;
  }
  /* Social Links*/
  .side-social-box i { 
      width: 55px;
  }
  /* Footer*/
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* Fixed Side Bar*/
  #fixed-sidebar {
    display: none;
  }
  /* Mainbody */
  .col-content {
    z-index: 10;
    width: 100% !important;
    padding:0 !important;
    left: 0;
  }
  .ccm-custom-style-container {
    padding: 0 !important;
  }
  .col-content .main-body {
    margin: 0 10px 0 10px;
  }
  .col-content .row {
    padding: 0;
  }
  .main-top-banner {
  }
  .col-content .main-top-banner h1{
    font-size: 3em;
    margin: 0;
    color: white;
  }
  .col-content .hp-text-block {
     padding: 10px;
  }
  .col-content .main-top-banner h2{
    font-size: 1.5em;
    padding-bottom: 25px;
    color: white;
  }

  .hp-banner-link
  /* Mainbody About Page*/
  .about-right-box {
    padding-bottom: 60px;
  }
  .about-right-box .about-profile-pic img{
    padding-top: 40px;
    width: 210px;
  }
  header {
    display: initial;
  }
  .main-top-banner {
    height: 100%;
    padding-bottom: 60px;
  }
  .hp-main-banner h1 {
    padding-top: 0 !important;
  }
  .hp-main-banner h2 {
    padding-top: 10px;
    font-size: 2em !important;
  } 
  .col-content .main-body h4 {
      font-size: 2.2em !important;
      text-align: center;
      margin: auto;
  }
  .hp-text-block p {
      font-size: 1.5em !important;
  }
  /* Social Links*/
  .side-social-box i { 
      width: 45px;
  }
  /* Footer */
  #footer-theme .container{
   margin-left: 0;
   width: 100%;  
  } 
  .hp-content-pic-right img {
    margin: 0;
  }
  .content-link {
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  /* Fixed Side Bar*/
  #fixed-sidebar {
    display: none;
  }
  header {
    display: initial;
  }
  /* Main Banner */
  .hp-banner-link-block {
    margin:auto;
  }
  /* Main Content */
  .col-content {
    left: 0;
    width: 100%;
  }
  /* Mainbody */
  .main-top-banner {
    padding-bottom: 150px;
    background-size: 1000px 600px;
    right: 0;
    background-position: 80% 50%;
  }
  .col-content .main-top-banner h1{
    padding: 80px 20px 50px 20px;
    display: block;
    font-size: 3em !important;
    margin-bottom: 0px;
    color: white;
  }
  .col-content .main-top-banner h2{
    padding: 10px 20px 50px 20px;
    font-size: 1.5em;
    margin-bottom: 0px;
    margin-top:5px;
    padding-bottom: 5px;
    color: white;
  }
  .col-content .main-body h4 {
      padding-top: 50px;
      font-size: 2.2em !important;
      font-family: "Museo300";
      color: #00A9BA;
  }
  .top-banner {
    margin-bottom: 60px;
    background-size: 100% 130%;
  }
  .content-link-block .portfolio {

  }
  .ccm-responsive-overlay {
    top: 85px !important;
  }
  /* Footer */
  #footer-theme .container{
   margin-left: 0;
   width: 100%;  
  }
  #footer-theme .nav {
    display:none;
  }
  #footer-theme .footer-logo {
    display:none;
  }
  #footer-theme .col-sm-8{
    width: 70% !important;
    float: left;
    font-size: 0.7em !important;
  }
  #footer-theme .col-sm-4{
    width: 30% !important;
    float: left;
  }
  .footer-logo{
    padding: 0 !important;
  }
  #footer-theme section {
    height: 100%;
  }
  .content-link-block {
    padding-top: 10px;
    padding-bottom: 10px;
}