.ccm-responsive-overlay  {
    display: none;
}
.list-inline li {
  display: inline !important;
}
.ccm-responsive-overlay ul li a {
  margin: 0 0 !important;
  text-align: center;
}
.ccm-responsive-overlay ul.list-inline li a {
  width: 60px !important;
}