@font-face {
    font-family: 'Museo300';
    src: url('Museo300-Regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Museo500';
    src: url('Museo500-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Museo700';
    src: url('Museo700-Regular.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}